@import '../../App.scss';

:root {
    --rain-drop-left: Math.floor(Math.random() * 300) + 'px';
    --rain-drop-size: 0.5 + Math.random() * 1.5 + 'em';
    --cloud-height: calc(100vh - 300px);
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
      @content;
    }
    @keyframes #{$animation-name} {
      @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    animation: #{$str};
}

@include keyframes(cloudColorChange) {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@include keyframes(cloudRainDrop) {
    0% {
        transform: translateY(0) scaleY(0);
        transform-origin: top;
    }
    10% {
        transform: translateY(0) scaleY(0.25);
        transform-origin: top;
    }
    20% {
        transform: translateY(0) scaleY(1);
    }
    70% {
        transform: translateY(--cloud-height) scaleY(1);
        transform-origin: bottom;
    }
    80% {
        transform: translateY(--cloud-height) scaleY(1);
        transform-origin: bottom;
    }
    100% {
        transform: translateY(--cloud-height) scaleY(0);
        transform-origin: bottom;
        text-shadow: -180px 0 0 var(--cloud-blue), 180px 0 0 var(--cloud-blue);
    }
}

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;

    .cloud-rain-container {
        display: flex;
        position: relative;
        width: 100%;
        justify-content: center;
        
        .cloud {
            position: relative;
            width: 200px;
            z-index: 1;
            filter: drop-shadow(0 0 35px var(--cloud-blue));
            @include animation('cloudColorChange 5s linear infinite');

            .text{
                top: 220px;
                font-size: 32px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                white-space: nowrap;
                color: var(--cloud-black);
                z-index: 2;
                background: var(--cloud-blue);
                padding: 0 40px;
                border-radius: 10px;
            }

            .text::before{
                content: '';
                position: absolute;
                top: -95px;
                left: 50%;
                width: 320px;
                height: 80px;
                background-color: var(--cloud-blue);
                transform: translateX(-50%);
                border-radius: 100px;
            }

            .text::after{
                content: '';
                position: absolute;
                top: -135px;
                left: 50%;
                width: 120px;
                height: 100px;
                background-color: var(--cloud-blue);
                border-radius: 50%;
                box-shadow: -100px -30px 0 30px var(--cloud-blue);
            }

            .drop{
                text-overflow: clip;
                white-space: nowrap;
                width: 200px;
                position: absolute;
                top: 300px;
                height: 20px;
                line-height: 20px;
                color: var(--cloud-blue);
                transform-origin: bottom;
                @include animation('cloudRainDrop 2s linear infinite');

                // left: var(--rain-drop-left);
                // font-size: var(--rain-drop-size);
            }
        }
    }
}

